@font-face {
  font-family: 'Outfit';
  src: url('../assets/font/Outfit.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-outfit), sans-serif;
  font-size: 1rem;
  background-color: var(--slate-300);
}

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --blue: hsl(228, 45%, 44%);
  --ff-outfit: 'Outfit';
  --radius: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.qr-card {
  margin-top: 5.4em;
  padding: 1em;
  inline-size: 20rem;
  min-inline-size: 20rem;
  text-align: center;
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow: 0 25px 25px hsl(0, 0%, 0%, .04);

  & img {
    --radius: 10px;
    inline-size: 100%;
    block-size: auto;
    border-radius: var(--radius);
  }

  & h2 {
    margin-top: .91em;
    margin-bottom: 0;
    font-size: 1.375rem;
    text-wrap: balance;
    line-height: 1.2;
    color: var(--slate-900);
  }

  & p {
    margin-inline: auto;
    padding-bottom: .64em;
    max-inline-size: 26ch;
    font-size: .9375rem;
    color: var(--slate-500);
    letter-spacing: .2px;
    line-height: 1.4;
  }
}

.footer {
  padding-block: 1.5em;
}

.attribution {
  font-size: .75rem;
  text-align: center;

  & a {
    position: relative;
    margin-inline: .25em;
    font-weight: 600;
    text-decoration: none;
    color: var(--blue);

    &::after {
      content: '';
      position: absolute;
      bottom: -1.5px;
      right: 0;
      inline-size: 100%;
      block-size: 1.8px;
      background-color: currentColor;
      transition: inline-size .25s ease;
    }

    &:focus-visible {
      outline: 2px dotted currentColor;
      outline-offset: 2px;
    }

    &:focus-visible::after,
    &:hover::after {
      inline-size: 0;
    }
  }
}